form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
    font-family: dotGothic16;
}

button {
    padding: 10px;
    background-color: rgb(1, 0, 61);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: dotGothic16;
    width: 200px;
    margin: auto;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: url(https://cdn.custom-cursor.com/db/1/32/pointer1.png)   , pointer !important;
}

.scrollable-component{
    height: 300px;
    overflow-y: auto;
    padding: 0px;
    margin: auto;
}

h1{
    padding: 0px;
}

.scrollable-component::-webkit-scrollbar{
    display: none;
}

select{
    font-size: 12px;
    width: 490px;
    padding: 7px;
    font-family: dotGothic16;
}

.course{
    width: 469px;
    margin-top: 20px;
}

.name{
    display: flex;
    justify-content: space-between;
}
.name input{
    width: 220px;
}

.email-id{
    display: flex;
}

.email-id div{
    margin-right: 20px;
}

.email input{
    width: 280px;
    font-size: 12px;
}
