.sidebar {
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: DotGothic16;

}

li{
    border: rgb(1, 0, 61) ;
    margin: 10px;
    padding: 10px;
    width: 100px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
}

li:hover{
    background-color: white;
    color: black;
    cursor: url(https://cdn.custom-cursor.com/db/1/32/pointer1.png)   , pointer !important;
}

li:hover a {
    color: black;
    cursor: url(https://cdn.custom-cursor.com/db/1/32/pointer1.png)   , pointer !important;
}


img{
    width: 70px;
    margin: auto;
    padding: 0px;
    display: flex;
    margin-bottom: 50px;
}

