form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding: 20px;
}

input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
    font-family: dotGothic16;
}

button {
    padding: 10px;
    background-color:#292974;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: dotGothic16;
    width: 200px;
    margin: auto;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: url(https://cdn.custom-cursor.com/db/1/32/pointer1.png)   , pointer !important;
}



h1{
    padding: 0px;
}




.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
    font-family: dotGothic16;
    width: 455px;
}

.name-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.name{
    display: flex;
    gap: 10px;
}
.name input{
    width: 200px;
}

.email-id-container{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}

.email input{
    margin-left: 10px;
    width: 230px;
}




.course-subj{
    display: flex;
    justify-content: space-between;
}

.course-subj input{
    width: 190px;
}

