body {  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.router{
    display: flex;
    justify-content: center;
    margin: auto;
    
    
   
}

.divider{
    border: 1px solid black;
    padding: 10px;
    height: 400px;
    align-content: center;
    background-color: #292974;
    color: white;
    box-shadow: 5px 10px 10px rgba(77, 77, 77, 0.711);
}

.divider1{
    font-family: 'Jersey 15';
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.711);
    box-shadow: 5px 10px 10px rgba(77, 77, 77, 0.778);
}

