body{
    cursor: url(https://cdn.custom-cursor.com/db/2/32/pointer2.png) , default !important;
    background-image: url("https://i.pinimg.com/1200x/32/56/08/325608924ec64cec5fe900e836bbcea5.jpg");
    background-size: 110% 100%;
    
}